@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Fuzzy-Bubbles";
  src: url("./assets//fonts/FuzzyBubbles-Regular.ttf");
}

@font-face {
  font-family: "Fuzzy-Bubbles";
  src: url("./assets/fonts/FuzzyBubbles-Bold.ttf");
  font-weight: bold;
}

/* This overwrites the default Tailwind behavior that removes bullet points. */
/* This is used to properly display styles on user's blogs */
@layer base {
  ul,
  ol {
    list-style: revert;
    margin: revert;
    padding: revert;
  }
}

/* This removes css styles from elements with the classname markdown */
/* Used to display markdown files. */
@layer base {
  .markdown > * {
    all: revert;
  }
}

@layer utilities {
  /* Clip path designs to make containers where one end is larger then the other. */
  .clip-trapezoid-left-large {
    clip-path: polygon(0 0, 100% 10%, 100% 90%, 0 100%);
  }
  .clip-trapezoid-right-large {
    clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 90%);
  }
  .clip-trapezoid-left {
    clip-path: polygon(0 0, 100% 5%, 100% 95%, 0 100%);
  }
  .clip-trapezoid-right {
    clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 95%);
  }
}
